<div class="container">

  <p>
    data links here
  </p>

  <ul>
    <li><%= link_to 'resume', data_resume_path %></li>
    <li><%= link_to 'paper', root_path + 'large_scale_machine_learning.pdf' %></li>
  </ul>

</div>
