<div class="container">

  <p>
    My resume is available here - please reach out for more contemporary or detailed copies.
  </p>

  <p>
    <%= link_to 'resume', root_path + 'resume.pdf' %>
  </p>

</div>
