<div class="container">

  <p>
    Note this is a sample resume of mine--please ask if you'd like an up-to-date copy!
  </p>

  <p>
    <%= link_to 'resume', root_path + 'resume.pdf' %>
  </p>

</div>
